<section class="d-flex h-100">
	<div class="w-50" style="background-color: steelblue;"></div>
	<div class="chat4-login-container w-50">
		<div class="chat4-login-auth" style="background-color: aliceblue;">
			<div class="col-12">
				<div class="chat4-login-body text-center">
					<div class="chat4-login-title">
						<button *ngIf=" loginState === 'login' " (click)='loginAnonymously()' class="example-full-width"
							mat-raised-button color="primary">Entrar anonimamente</button>
						
						<!-- <h3 *ngIf="loginState === 'login'">Iniciar Sesión</h3>
						<h3 *ngIf="loginState === 'register'">Registrarse</h3> -->
						
					</div>
					<div>
						<p *ngIf=" loginState === 'login' "><small>--- o via Email ---</small></p>	
						<h3 *ngIf="loginState === 'register'">Registrarse</h3>
					</div>
					<form class="example-form">
						<mat-form-field [color]="'warn'" appearance="fill" class="example-full-width">
							<mat-label>Email</mat-label>
							<input [(ngModel)]="email" name="email" matInput placeholder=""
								[errorStateMatcher]="matcher">
						</mat-form-field>
						<mat-form-field appearance="fill" class="example-full-width">
							<mat-label>Password</mat-label>
							<input [(ngModel)]="password" name="password" matInput [type]="hide ? 'password' : 'text'">
							<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="hide">
								<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
						</mat-form-field>
						<mat-form-field *ngIf=" loginState === 'register' " appearance="fill"
							class="example-full-width">
							<mat-label>Nick</mat-label>
							<input [(ngModel)]="nick" name="nick" matInput placeholder="">
						</mat-form-field>
						<button *ngIf=" loginState === 'login' " (click)='logIn()' class="example-full-width"
							mat-raised-button color="primary">Entrar</button>
						<button *ngIf=" loginState === 'register' " (click)='register()' class="example-full-width"
							mat-raised-button color="primary">Siguiente</button>
						<small>
							<span *ngIf="loginState === 'register'">¿Ya tienes cuenta?
								<a (click)="loginState = 'login'">Inicia Sesión</a>
							</span>
							<span *ngIf="loginState === 'login'">¿No tienes cuenta?
								<a (click)="loginState = 'register'">Regístrate</a>
							</span>
						</small>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>