@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.chat4-login-container{
    font-family: 'Fredoka One', cursive;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: fadein 2s;
    .chat4-login-auth {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .chat4-login-title {
        width: 100%;
        padding: 15px 32px;
    }
    .chat4-login-description {
        width: 50%;
    }
    .chat4-login-body {
        width: 376px;
        margin: 0 auto;
        flex-direction: column;
            align-items: center;
    }
    mat-form-field {
        font-family: 'Fredoka One', cursive;
        input {
            font-family: 'Gothic A1', sans-serif;
            font-size: 14px;
        }
    }

    button {
        font-family: 'Fredoka One', cursive;
    }

}


.example-form {
    min-width: 150px;
    max-width: 500px;
    padding: 0 32px 35px 32px;
    a {
        color: #3f51b5;
        cursor: pointer;
    }
  }
  
  .example-full-width {
    width: 100%;
  }