.chat4-login-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    .chat4-login-auth {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .chat4-login-title {
        width: 100%;
        padding: 15px 32px;
    }
    .chat4-login-description {
        width: 50%;
    }
    .chat4-login-body {
        width: 376px;
        margin: 0 auto;
        flex-direction: column;
            align-items: center;
    }
    button {
        height: 46px;
    }
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    padding: 0 32px 35px 32px;
  }
  
  .example-full-width {
    width: 100%;
  }